* {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -ms-box-sizing:border-box;
  box-sizing:border-box;
}
body {
  font-family:FuturaDemiC;
  background:#fff;
}
header {
  background:url(images/bg.jpg) no repet;
  display: flex;
  flex-direction: column;
  flex-basis: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  height: 100vh;
  width: 15.62vw;
  background-color: #242b2e;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8eb2ac+0,242b2e+100,242b2e+100 */
  background: rgba(142,178,172,0.2); /* Old browsers */
  background: -moz-linear-gradient(left, rgba(142,178,172,0.2) 0%, rgba(36,43,46,0.7) 100%, rgba(36,43,46,0.7) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(142,178,172,0.2) 0%,rgba(36,43,46,0.7) 100%,rgba(36,43,46,0.7) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(142,178,172,0.2) 0%,rgba(36,43,46,0.7) 100%,rgba(36,43,46,0.7) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8eb2ac', endColorstr='#242b2e',GradientType=1 ); /* IE6-9 */
  box-shadow: 1px 1px 20px 0px black;
}
  .logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height:11.57vh;
    background-color: #fff
  }

  .logo .st0{fill:#A0BBFF;stroke:#666666;stroke-miterlimit:10;}
  .logo .st1{font-family:'FuturaBookC';}
  .logo .st2{font-size:10.0202px;}
  .logo .st3{fill:#333333;}
  .logo .st4{font-family:'FuturaDemiC';}
  .logo .st5{font-size:6px;}
  .logo .st6{fill:#666666;}
  .logo .st7{fill:#272425;}
  .logo .st8{font-family:'Acrom-Regular';}
  .logo .st9{font-size:12px;}

.logo svg {
  width: 11vw;
}
.conteiner_form {
  float: right;
  text-align: right;
}
input[type="text"],input[type="password"] {
  width: 200px;
  height: 30px;
  font-size: 15px;
  margin-left: 25px;
  border-radius: 5px;
  padding-left: 10px;
  font-family:cursive;
}
.dvs-submit {
  padding: 10px 25px;
  margin-left: 25px;
  font-size: 12px;
  color: #272425;
  background-color: #8eb2ac;
  background: rgb(142,178,172); /* Old browsers */
  background: -moz-linear-gradient(left, rgba(142,178,172,1) 0%, rgba(36,43,46,1) 100%, rgba(36,43,46,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(142,178,172,1) 0%,rgba(36,43,46,1) 100%,rgba(36,43,46,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(142,178,172,1) 0%,rgba(36,43,46,1) 100%,rgba(36,43,46,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8eb2ac', endColorstr='#242b2e',GradientType=1 ); /* IE6-9 */
}
.vspass {
  margin-left: 25px;
  color:#272425
}
.main_nav a {
  text-decoration: none;
  color:#fff;
  text-transform:uppercase;
  font-size: 0.8vmax;
  height: 2vmax;
  width: 90%;
  display: flex;
  flex-flow:nowrap;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
  margin: 25px;
}
nav li {
  list-style: none;
}
.menu_nav:hover {
  background-color: rgba(255, 0, 0, 0.5);
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  border-radius: 1px;
}
.body_slides {
  list-style:none;
  margin:0;
  padding:0;
  z-index:-2;
  background:#222830;
}
.body_slides,
.body_slides:after {
  position: fixed;
  width:100%;
  height:100%;
  top:0px;
  left:0px;}
.body_slides:after {
    content: '';
  background: transparent url(images/pattern.png) repeat top left;}

@-webkit-keyframes anim_slides {
0% {opacity:0;}
6% {opacity:1;}
24% {opacity:1;}
30% {opacity:0;}
100% {opacity:0;}
}
@-moz-keyframes anim_slides {
0% {opacity:0;}
6% {opacity:1;}
24% {opacity:1;}
30% {opacity:0;}
100% {opacity:0;}
}
.body_slides li {
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  background-size:cover;
  background-repeat:none;
  opacity:0;
  -webkit-animation: anim_slides 18s linear infinite 0s;
  -moz-animation: anim_slides 18s linear infinite 0s;
  -o-animation: anim_slides 18s linear infinite 0s;
  -ms-animation: anim_slides 18s linear infinite 0s;
  animation: anim_slides 18s linear infinite 0s;
}
.body_slides li:nth-child(1) {
background-image: url(images/bg1.jpg)
}
.body_slides li:nth-child(2) {
-webkit-animation-delay: 6.0s;
-moz-animation-delay: 6.0s;
background-image: url(images/bg2.jpg)
}
.body_slides li:nth-child(3) {
-webkit-animation-delay: 12.0s;
-moz-animation-delay: 12.0s;
background-image: url(images/bg3.jpg)
}
