* {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -ms-box-sizing:border-box;
  box-sizing:border-box;
}
a, a:hover,button,button:hover,.anime{
  -moz-transition:all 200ms linear;
  -ms-transition:all 200ms linear;
  -o-transition:all 200ms linear;
  -webkit-transition:all 200ms linear;
  transition:all 200ms linear;
  cursor:pointer;
}
/*Flex Framework*/
.main_flex{
  display: flex;
  display: -webkit-flex;
  -webkit-flex-flow:row wrap;
  flex-flow:row wrap;
}
.main_flex__nowrap{
  display: flex;
  display:-webkit-flex;
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;
}
.flex__auto{
  flex:auto;
  -webkit-flex:auto;
  -ms-flex:auto;
}
.flex__jkontent-between{
  justify-content: space-between;
  -webkit-justify-content: space-between;
}
.flex__jcontent_start{
  justify-content: flex-start;
  -webkit-justify-content:flex-start;
}
.flex__content_end{
  justify-content: flex-end;
  -webkit-justify-content:flex-end;
}

.flex__jcontent_center{
  justify-content:center;
  -webkit-justify-content:center;
}
.flex__jcontent_around{
  justify-content: space-around;
  -webkit-justify-content:space-around;
}
.flex__align-content_stretch{
  align-content: stretch;
  -webkit-align-content:stretch;
}
.flex__flex-grow_01{
  flex-grow:1;
  -webkit-flex-grow:1;
}
.flex__flex-grow_02{
  flex-grow:2;
  -webkit-flex-grow:2;
}
.flex__flex-grow_03{
  flex-grow:3;
  -webkit-flex-grow:3;
}
.flex__flex-grow_04{
  flex-grow:4;
  -webkit-flex-grow:4;
}






body {
background: linear-gradient(45deg, #fefde9, #8eb2ac);
}
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  height: 100vh;
  width: 15.62vw;
  background-color: #242b2e;
  box-shadow: 9px 0px 16px #424242;
}

  #logo {
    width: 100%;
    height:11.57vh;
    background-color: #fefef7
  }

  #logo .st0{fill:#A0BBFF;stroke:#666666;stroke-miterlimit:10;}
  #logo .st1{font-family:'FuturaBookC';}
  #logo .st2{font-size:10.0202px;}
  #logo .st3{fill:#333333;}
  #logo .st4{font-family:'FuturaDemiC';}
  #logo .st5{font-size:6px;}
  #logo .st6{fill:#666666;}
  #logo .st7{fill:#272425;}
  #logo .st8{font-family:'Acrom-Regular';}
  #logo .st9{font-size:12px;}

#logo svg {
  width: 11vw;
}
